
		<div class="header header-filter" style="background-image: url('../assets/img/examples/city.jpg');"></div>

		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <%= image_tag 'headshot.jpg', alt:"Circle Image" , class: "img-circle img-responsive img-raised"%>
	                        </div>
	                        <div class="name">
	                            <h3 class="title"><%= @user.post.full_name %></h3>
								<h6><%= @user.post.category if @user.post %></h6>
	                        </div>
	                    </div>
	                </div>
	                <div class="description text-center">
                        <p><%= @user.post.about if @user.post %> </p>
	                </div>

					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="profile-tabs">
			                    <div class="nav-align-center">
									<ul class="nav nav-pills" role="tablist">
										<li class="active">
											<a href="#studio" role="tab" data-toggle="tab">
												<i class="material-icons">camera</i>
												View CV
											</a>
										</li>
										<li>
				                            <a href="#work" role="tab" data-toggle="tab">
												<i class="material-icons">palette</i>
												Download PDF
				                            </a>
				                        </li>
				                       
				                    </ul>
								</div>
							</div>
							<!-- End Profile Tabs -->
						</div>
	                </div>

	            </div>
	        </div>
		</div>

    