<table summary="Recommendations form fields">
      <tr>
        <%= f.input :name, label: "Name", error: "Who recommended you?"%>

      </tr>
      <tr>
        <%= f.input :position, label: "Position", error: "Enter your recommenders position"%>
      </tr>
      <tr>
           <%= f.input :email, placeholder: "user@domain.com"%>   
      </tr>

</table>