<article>
					<h2><%= recommendation.name %></h2>
					<h3> <%= recommendation.position %></h3>
					<h3> <%= recommendation.email %></h3>
					<p class="subDetails">Details</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>