<%= link_to "<< Back to List", posts_path %>

<div class="recommendation edit">
  <h2>Update Recommendation</h2>

  <%= simple_form_for @recommendation, url: post_recommendation_path(@recommendation.id) do |f| %>
  

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Submit CV") %>
    </div>

  <% end %>
</div>