<table summary="Qualifications form fields">
      <tr>
        <%= f.input :school, label: "School Name", error: "Please enter a School Name"%>

      </tr>
      <tr>
        <%= f.input :grad_yr, label: "Graduation Year", error: "Enter your Graduation Year"%>
      </tr>
      <tr>
           <%= f.input :degree, placeholder: "Degree"%>   
      </tr>

</table>