<article>
					<h2><%= qualification.school %></h2>
					<h3> <%= qualification.degree %></h3>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>