<table summary="Projects form fields">
      <tr>
        <%= f.input :name, label: "Project Name", error: "Please enter your project name"%>

      </tr>
      <tr>
        <%= f.input :project_yr, label: "Project Year", error: "Enter your Project Year"%>
      </tr>
      <tr>
           <%= f.input :description, placeholder: "project Description"%>   
      </tr>

</table>