<%= link_to "<< Back to List", posts_path %>

<div class="project edit">
  <h2>Update Project</h2>

  <%= simple_form_for @project, url: post_project_path(@post.id, @project.id) do |f| %>
  

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Next (Recommendations)") %>
    </div>

  <% end %>
</div>