<h1> Projects Done </h1>

	<% @projects.each do |pro| %>
		<p> Name: <%= pro.name %> </p>
		<p> Project Year: <%= pro.project_yr %> </p>
		<p> Project Description: <%= pro.description %>  </p>
	<% end %>