<table summary="Experience form fields">
      <tr>
        <%= f.input :place, label: "Place Of Work", error: "Please enter your place of work"%>

      </tr>
      <tr>
        <%= f.input :position, label: "Position", error: "Enter your Position"%>
      </tr>
      <tr>
           <%= f.input :work_start, placeholder: "Work Started"%>   
      </tr>
      <tr>
           <%= f.input :work_end, placeholder: "You Left"%>   
      </tr>


</table>