	<h1> Work Experiences </h1>

	<% @experiences.each do |exp| %>
		<p> Place: <%= exp.place %> </p>
		<p> Position: <%= exp.position %> </p>
		<p> Year Started: <%= exp.work_start %>  </p>
		<p> Year Ended: <%= exp.work_end %> </p>
	<% end %>