				<article>
					<h2><%= experience.position %> </h2>
					<h3><%= experience.place %> </h3>
					<p class="subDetails"> <%= '#{experience.work_start} - #{experience.work_end}' %></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</article>