<table summary="Post form fields">
      <tr>
        <%= f.input :first_name, label: "First Name", error: "First Name is mandatory"%>

      </tr>
      <tr>
        <%= f.input :last_name, label: "Last Name", error: "Last Name is mandatory"%>
      </tr>
      <tr>
           <%= f.input :email, placeholder: "user@domain.com"%>   
      </tr>
      <tr>
        <%= f.input :category, label: "Category of Work"%>
      </tr>

</table>