<!--   Big container   -->
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<!--      Wizard container        -->
			<div class="wizard-container">
				<div class="card wizard-card" data-color="green" id="wizardProfile">
				<%=  render 'actual_form', post: post %>
				</div>
			</div> <!-- wizard container -->
		</div>
	</div><!-- end row -->
</div> 