		<div class="tab-pane text-center" id="projects">

			<div class="row">
				<div class="col-sm-12">
		 			<h4 class="info-text"> Projects You Participated In </h4>
		 		</div>

			</div>
		 		<%= f.fields_for :projects do |builder| %>
         			<%= render 'projects_fields', builder: builder %>

      			<% end %>
		
				<%= link_to_add_fields "New Project", f, :projects %>
			
		</div>