		<div class="tab-pane text-center" id="education">

			<div class="row">
				<div class="col-sm-12">
		 			<h4 class="info-text"> Education Details </h4>
		 		</div>
		 		
			</div>
			<%= f.fields_for :qualifications do |builder| %>
         			<%= render 'qualifications_fields', builder: builder %>

      			<% end %>
			
				<%= link_to_add_fields "New Education", f, :qualifications %>
			
		</div>