		<div class="tab-pane text-center" id="recommendations">

			<div class="row">
				<div class="col-sm-12">
		 			<h4 class="info-text"> Recommendations </h4>
		 		</div>
		 		
			</div>
			<%= f.fields_for :recommendations do |builder| %>
         			<%= render 'recommendations_fields', builder: builder %>

      			<% end %>
			
				<%= link_to_add_fields "New Recommendation", f, :recommendations %>
			
		</div>