		<div class="tab-pane" id="recommendations">

			<div class="row">
				<div class="col-sm-12">
		 			<h4 class="info-text"> Recommendations </h4>
		 		</div>
		 		<%= f.fields_for :recommendations do |builder| %>
         			<%= render 'recommendations_fields', builder: builder %>

      			<% end %>
			</div>
			<div class="text-center">
				<%= link_to_add_fields "New Recommendation", f, :recommendations %>
			</div>
		</div>