
<fieldset>
<div class="row">

	<div class="col-sm-7 col-sm-offset-1">
		<div class="form-group label-floating">
			<label class="control-label">Skill</label>
			<%= builder.input :talent, label: false, class: 'form-control' %>
		</div>
	</div>

	<%= builder.hidden_field :_destroy  %>
	
	<%= link_to "Remove",  "#", class:  "remove_fields btn  btn-danger btn-xs" %>
</div>
</fieldset>