		<div class="tab-pane text-center" id="skills">

			<div class="row">
				<div class="col-sm-12">
		 			<h4 class="info-text"> Your Professional Skills </h4>
		 		</div>

			</div>
			<%= f.fields_for :skills do |builder| %>
         			<%= render 'skills_fields', builder: builder %>

      			<% end %>
			
				<%= link_to_add_fields "New Skills", f, :skills %>
			
		</div>