
    <div class="main main-raised">
      <div class="container">
          <div class="section text-center section-landing">
                  <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                          <h2 class="title">A Simple Resume Creator</h2>
                          <h5 class="description"> Get your own customized resume. Fill a form and get your own personal link to share your resume with your friends, employees etc </h5>
                      </div>
                  </div>

          <div class="features">
            <div class="row">
                        <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="material-icons">chat</i>
                  </div>
                  <h4 class="info-title">Likes & Views</h4>
                  <p>Get feedback on what people think about your resume. See how many people have viewed it and how many 'liked' it. </p>
                </div>
                        </div>
                        <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">verified_user</i>
                  </div>
                  <h4 class="info-title">Information Verification</h4>
                  <p>Send proof to our team and get your education details verified</p>
                </div>
                        </div>
                        <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">fingerprint</i>
                  </div>
                  <h4 class="info-title">PDF Download</h4>
                  <p>Get PDF Versions of your resume with just one click. We can also get it emailed to you if you want that. </p>
                </div>
                        </div>
                    </div>
          </div>
              </div>







              </div>
          </div>

    </div>
