<div class="header header-filter landing-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Material Resume</h1>
          <h4>Want a resume? Get one without much stress. And take advantage of our beautiful material design forms.</h4>
          <br />

          <%= link_to  new_post_path,  class: "btn btn-danger btn-raised btn-lg" do %>
          <i class="fa fa-play"></i>  Create Your Resume
          <% end %>

          
        </div>
      </div>
    </div>
  </div>

