        <div class="header header-filter">
        <div id="modal" class="modal fade"></div>
            <div class="container">
                <div class="row">
					<div class="col-md-6">
						<h1 class="title">Write the best title for your page.</h1>
	                    <h4>Every landing page needs a small description after the big bold title, that's why we added this text here. Add here all the information that can make you or your product create the first impression.</h4>
	                    <br />

						<%= link_to  new_post_path,  class: "btn btn-danger btn-raised btn-lg" do %>
							<i class="fa fa-play"></i>  Create Your Resume
						<% end %>
					</div>
                </div>
            </div>
        </div>