    <nav class="navbar   navbar-fixed-top navbar-color-on-scroll">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="http://www.creative-tim.com">Creative Tim</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                    <li>
                        <%= link_to  destroy_user_session_path,  method: :delete do %>
                        <i class="material-icons">unarchive</i> Log Out
                        <% end %>
                    </li>
                    
                <% else %>
                    <li>
                        <%= link_to  "javascript:void(0)", id: "signup-btn" do %>
                        <i class="material-icons">perm_identity</i> Register
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "javascript:void(0)", id: "signin-btn" do %>
                        <i class="material-icons">rowing</i> Log In
                        <% end %>
                    </li>
                    
                <% end %>


		            <li>
		                <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
		            </li>
		            <li>
		                <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li>
		                <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
    </nav>