  <!-- Modal -->
<div class="modal fade" id="signin-modal" role="dialog">
    <div class="modal-dialog">
    <%= render 'layouts/sign_in' %>
      
    </div>
</div>


<!--  -->

  <!-- Modal -->
  <div class="modal fade " id="signup-modal" role="dialog">
    <div class="modal-dialog " >
    

        
       
	          <%= render 'layouts/sign_up' %>


      
    </div>
  </div>